* {
    margin: 0;
    width: 0;
    box-sizing: border-box;

}

body {
    background-color: #fff;

}


.card-container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(73, 137, 38); 

}    



.title-container {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #000;

}


.title-container p {
    width: 200px;
    height: 15px;
    font-size: 12pt;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    
}


.number-container {
    width: 200px;
    height: 150px;
    
}

.number-container h2 {
    width: 200px;
    height: 150px;
    font-size: 90pt;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2px; 
}