* {
    margin: 0;
    width: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}


.card-container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(73, 137, 38); 

}    



.title-container {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #000;

}


.title-container p {
    width: 200px;
    height: 15px;
    font-size: 12pt;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    
}


.number-container {
    width: 200px;
    height: 150px;
    
}

.number-container h2 {
    width: 200px;
    height: 150px;
    font-size: 90pt;
    font-weight: 200;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2px; 
}